MM Systems/PanoramaApp3/PanoramaApp3/Service References/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://employeebrentproostservice.cloudapp.net/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="ArrayOfTbl_User">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_User" nillable="true" type="tns:Tbl_User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_User" nillable="true" type="tns:ArrayOfTbl_User" />
  <xs:complexType name="Tbl_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gebruikersnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Paswoord" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="Plaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" type="xs:int" />
      <xs:element minOccurs="0" name="Rechten_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Voornaam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_User" nillable="true" type="tns:Tbl_User" />
</xs:schema>