MM Systems/WebApp/WebApp/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mmsystemsservice.cloudapp.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTbl_User">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_User" nillable="true" type="tns:Tbl_User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_User" nillable="true" type="tns:ArrayOfTbl_User" />
  <xs:complexType name="Tbl_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gebruikersnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" type="xs:int" />
      <xs:element minOccurs="0" name="Paswoord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" type="xs:int" />
      <xs:element minOccurs="0" name="Rechten_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Voornaam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_User" nillable="true" type="tns:Tbl_User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AantalIngaven" type="xs:int" />
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gebruikersnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" type="xs:int" />
      <xs:element minOccurs="0" name="Paswoord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" type="xs:int" />
      <xs:element minOccurs="0" name="Rechten_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Rechten_Omschrijving" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Voornaam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfActivities">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activities" nillable="true" type="tns:Activities" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivities" nillable="true" type="tns:ArrayOfActivities" />
  <xs:complexType name="Activities">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activiteit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Activiteit_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Categorie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categorie_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Activities" nillable="true" type="tns:Activities" />
  <xs:complexType name="ArrayOfTbl_Categorien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Categorien" nillable="true" type="tns:Tbl_Categorien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Categorien" nillable="true" type="tns:ArrayOfTbl_Categorien" />
  <xs:complexType name="Tbl_Categorien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Categorien" nillable="true" type="tns:Tbl_Categorien" />
  <xs:complexType name="ArrayOfTbl_Weersomstandigheden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Weersomstandigheden" nillable="true" type="tns:Tbl_Weersomstandigheden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Weersomstandigheden" nillable="true" type="tns:ArrayOfTbl_Weersomstandigheden" />
  <xs:complexType name="Tbl_Weersomstandigheden">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Weersomstandigheden" nillable="true" type="tns:Tbl_Weersomstandigheden" />
  <xs:complexType name="ArrayOfTbl_Schaal_Nachtrust">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Schaal_Nachtrust" nillable="true" type="tns:Tbl_Schaal_Nachtrust" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Schaal_Nachtrust" nillable="true" type="tns:ArrayOfTbl_Schaal_Nachtrust" />
  <xs:complexType name="Tbl_Schaal_Nachtrust">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Schaal_Nachtrust" nillable="true" type="tns:Tbl_Schaal_Nachtrust" />
  <xs:complexType name="ArrayOfTbl_GebruikersIngave">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_GebruikersIngave" nillable="true" type="tns:Tbl_GebruikersIngave" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_GebruikersIngave" nillable="true" type="tns:ArrayOfTbl_GebruikersIngave" />
  <xs:complexType name="Tbl_GebruikersIngave">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aantal_Uren_Geslapen" type="xs:int" />
      <xs:element minOccurs="0" name="Activiteit_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Beginuur_Activiteit" type="ser:duration" />
      <xs:element minOccurs="0" name="Belangrijkheid" type="xs:float" />
      <xs:element minOccurs="0" name="Commentaar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Datum_Uur_Activiteit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Datum_Uur_Ingave" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Einduur_Activiteit" type="ser:duration" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Schaal_Nachtrust_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Tevredenheid" type="xs:float" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Vermoeidheid" type="xs:float" />
      <xs:element minOccurs="0" name="Weersomstandigheden_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_GebruikersIngave" nillable="true" type="tns:Tbl_GebruikersIngave" />
</xs:schema>