MM Systems/WebApp/WebApp/Service References/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTbl_User">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_User" nillable="true" type="tns:Tbl_User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_User" nillable="true" type="tns:ArrayOfTbl_User" />
  <xs:complexType name="Tbl_User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gebruikersnaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nummer" type="xs:int" />
      <xs:element minOccurs="0" name="Paswoord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plaats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" type="xs:int" />
      <xs:element minOccurs="0" name="Rechten_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Voornaam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_User" nillable="true" type="tns:Tbl_User" />
  <xs:complexType name="ArrayOfTbl_Activiteiten">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Activiteiten" nillable="true" type="tns:Tbl_Activiteiten" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Activiteiten" nillable="true" type="tns:ArrayOfTbl_Activiteiten" />
  <xs:complexType name="Tbl_Activiteiten">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categorie_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Activiteiten" nillable="true" type="tns:Tbl_Activiteiten" />
  <xs:complexType name="ArrayOfTbl_Categorien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Categorien" nillable="true" type="tns:Tbl_Categorien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Categorien" nillable="true" type="tns:ArrayOfTbl_Categorien" />
  <xs:complexType name="Tbl_Categorien">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Omschrijving" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Categorien" nillable="true" type="tns:Tbl_Categorien" />
</xs:schema>