MM Systems/PanoramaApp3/PanoramaApp3/Service References/ServiceReference2/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mmsystemsservice.cloudapp.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mmsystemsservice.cloudapp.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mmsystemsservice.cloudapp.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivities" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SigninUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SigninUser" />
  </wsdl:message>
  <wsdl:message name="IService_SigninUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SigninUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddActivity" />
  </wsdl:message>
  <wsdl:message name="IService_AddActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="IService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteActivity" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddGebruikersIngave_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGebruikersIngave" />
  </wsdl:message>
  <wsdl:message name="IService_AddGebruikersIngave_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGebruikersIngaveResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllWeersOmstandigheden_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWeersOmstandigheden" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllWeersOmstandigheden_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWeersOmstandighedenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNachtrustSchaal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNachtrustSchaal" />
  </wsdl:message>
  <wsdl:message name="IService_GetNachtrustSchaal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNachtrustSchaalResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIngave_Gebruiker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngave_Gebruiker" />
  </wsdl:message>
  <wsdl:message name="IService_GetIngave_Gebruiker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngave_GebruikerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddWeersomstandigheden_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWeersomstandigheden" />
  </wsdl:message>
  <wsdl:message name="IService_AddWeersomstandigheden_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWeersomstandighedenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWeersomstandigheid_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeersomstandigheid" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWeersomstandigheid_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeersomstandigheidResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLatestInput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestInput" />
  </wsdl:message>
  <wsdl:message name="IService_GetLatestInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestInputResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserInfo" message="tns:IService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserInfoResponse" message="tns:IService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllActivities" message="tns:IService_GetAllActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllActivitiesResponse" message="tns:IService_GetAllActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllCategories" message="tns:IService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllCategoriesResponse" message="tns:IService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SigninUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SigninUser" message="tns:IService_SigninUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SigninUserResponse" message="tns:IService_SigninUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddUser" message="tns:IService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddUserResponse" message="tns:IService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddActivity" message="tns:IService_AddActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddActivityResponse" message="tns:IService_AddActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddCategory" message="tns:IService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddCategoryResponse" message="tns:IService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteActivity" message="tns:IService_DeleteActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteActivityResponse" message="tns:IService_DeleteActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteUser" message="tns:IService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteUserResponse" message="tns:IService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGebruikersIngave">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddGebruikersIngave" message="tns:IService_AddGebruikersIngave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddGebruikersIngaveResponse" message="tns:IService_AddGebruikersIngave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWeersOmstandigheden">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllWeersOmstandigheden" message="tns:IService_GetAllWeersOmstandigheden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllWeersOmstandighedenResponse" message="tns:IService_GetAllWeersOmstandigheden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNachtrustSchaal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNachtrustSchaal" message="tns:IService_GetNachtrustSchaal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNachtrustSchaalResponse" message="tns:IService_GetNachtrustSchaal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngave_Gebruiker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIngave_Gebruiker" message="tns:IService_GetIngave_Gebruiker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIngave_GebruikerResponse" message="tns:IService_GetIngave_Gebruiker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWeersomstandigheden">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddWeersomstandigheden" message="tns:IService_AddWeersomstandigheden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddWeersomstandighedenResponse" message="tns:IService_AddWeersomstandigheden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteCategory" message="tns:IService_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteCategoryResponse" message="tns:IService_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWeersomstandigheid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteWeersomstandigheid" message="tns:IService_DeleteWeersomstandigheid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteWeersomstandigheidResponse" message="tns:IService_DeleteWeersomstandigheid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLatestInput" message="tns:IService_GetLatestInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLatestInputResponse" message="tns:IService_GetLatestInput_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActivities">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SigninUser">
      <soap:operation soapAction="http://tempuri.org/IService/SigninUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddActivity">
      <soap:operation soapAction="http://tempuri.org/IService/AddActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/IService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteActivity">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGebruikersIngave">
      <soap:operation soapAction="http://tempuri.org/IService/AddGebruikersIngave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWeersOmstandigheden">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllWeersOmstandigheden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNachtrustSchaal">
      <soap:operation soapAction="http://tempuri.org/IService/GetNachtrustSchaal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngave_Gebruiker">
      <soap:operation soapAction="http://tempuri.org/IService/GetIngave_Gebruiker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWeersomstandigheden">
      <soap:operation soapAction="http://tempuri.org/IService/AddWeersomstandigheden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWeersomstandigheid">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteWeersomstandigheid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestInput">
      <soap:operation soapAction="http://tempuri.org/IService/GetLatestInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://mmsystemsservice.cloudapp.net/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>