MM Systems/PanoramaApp3/PanoramaApp3/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59309/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59309/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59309/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf" />
      <xsd:import schemaLocation="http://localhost:59309/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivities" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActivitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllActivities" message="tns:IService_GetAllActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllActivitiesResponse" message="tns:IService_GetAllActivities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActivities">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:59309/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>